
.tickerContainer {
    background-color: #AB3F3F;
    width: 100%;
    height: 50px;

    color : white;
    font-size: 1rem;

    overflow: hidden;
    user-select: none;

    display: flex;
    gap: 1rem;

    padding-block: 12px;
}

/* Tablet */
@media (min-width: 640px) {
    .tickerContainer {
        height: 55px;
        font-size: 1.25rem;
        gap: 1.25rem;
        padding-block: 12px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .tickerContainer {
        height: 60px;
        font-size: 1.75rem;
        gap: 1.75rem;
        padding-block: 10px;
    }
}

.tickerContainer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    animation: scroll 40s linear infinite;
    animation-delay: -40s;
}

@media (min-width: 640px) {
    .tickerContainer ul {
        gap: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .tickerContainer ul {
        gap: 1.75rem;
    }
}

.tickerContainer ul:nth-child(2) {
    animation: scroll2 40s linear infinite;
    animation-delay: -20s;
}

.tickerContainer:hover ul {
    animation-play-state: paused;
}

.tickerItem {
    flex-shrink: 0;
    white-space: nowrap;
    font-family: 'Holtwood One SC', serif;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}