
.tickerContainer {
    background-color: #AB3F3F;
    width: 100%;
    height: 60px;

    color : white;
    font-size: 2rem;

    overflow: hidden;
    user-select: none;

    display: flex;
    gap: 2rem;

    padding-block: 10px;
}

.tickerContainer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    animation: scroll 40s linear infinite;
    animation-delay: -40s;
}

.tickerContainer ul:nth-child(2) {
    animation: scroll2 40s linear infinite;
    animation-delay: -20s;
}

.tickerContainer:hover ul {
    animation-play-state: paused;
}

.tickerItem {
    flex-shrink: 0;
    white-space: nowrap;
    font-family: 'Holtwood One SC', serif;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}