@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8e8;
  --foreground: #2c221c;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    /* Cores do tema
    --color-pastel: #f1ecc8;
    --color-vegGreenLight: #00a388; 
    --color-vegGreen: #099b84;
    --color-vegGreenDark: #006654; 
    --color-vegYellow: #f6a011;
    --color-vegOrange: #ff5500;
    --color-vegRed: #ab3f3f;
    --color-vegDarkBrown: #2c221c; 
  --font-gluten: var(--font-gluten);
  --font-holtwood: var(--font-holtwood);*/
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-gluten), Arial, Helvetica, sans-serif;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: sans-serif;
  }
}

/* Classes de fonte */
.font-gluten {
  font-family: var(--font-gluten);
}

.font-holtwood {
  font-family: var(--font-holtwood);
}