header {
    width: 100%;
    height: 120px;
    background-color: #F1ECC8;

    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 50px;
    font-size: 3.75rem;
    color: #10806E;

    font-family: 'This Cafe';
}

svg {
    width: 50px;
    height: 50px;
}

svg path {
    fill: #10806E;
}

nav {
    display: flex;
    align-items: center;

    margin-right: 50px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #10806E;
    font-size: 1.75rem;
    margin-right: 30px;
}

a:hover {
    color: #F6A011;
}

button {
    color: #10806E;
    background-color: #F1ECC8;
    font-size: 1.5rem;
    border: 3px solid #10806E;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 20px;
}

button:hover {
    cursor: pointer;
    color: #F6A011;
    border-color: #F6A011;
}