.pastelOnYourWayContainer {
    width: 100%;
    height: 1080px;
    margin: 0px;
    display: flex;
}

.pastelOnYourWayContainer img {
    width: 1110px;
    height: 1086px;
    margin-top: -50px;
}

.pastelOnYourWayTextContainer
{
    width: 752px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    margin-left: -200px;
}

.pastelOnYourWayTitle
{
    font-family: 'Holtwood One SC';
    font-size: 32px;
    text-align: center;
    color: #2c221c;
}

.pastelOnYourWayText
{
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 150%;
    color: #2c221c;
}

.orderNowBtn3 {
    color: #F6A011;
    font-size: 1.5rem;
    border: 4px solid #F6A011;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #f1ecc8;
    width: fit-content;
    margin-left: auto;
}

.orderNowBtn3:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #F6A011;
}