.bannerContainer {
    background-color: #F6A011;
    width: 100%;
    height: 450px;
    display: flex;

    margin-top: 90px;
    padding: 0 10%;

    justify-content: space-between;
    
    position: relative;
}

.bannerContainer img {
    height: 95%;
    position: absolute;
    z-index: 0;
    right: 10%;
    bottom: 0;
}

.bannerTextContainer {
    width: 623px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.bannerSlogan{
    font-size: 2.25rem;
    margin-bottom: 30px;
    width: fit-content;
    color: #2c221c;
}

.bannerP {
    font-size: 1.25rem;
    margin-bottom: 25px;
    text-align: justify;
    line-height: 150%;
    color: #2c221c;
}